
<div class="well">
  <%= form_tag search_quotes_path, {class: "search-form", method: :get} do %>

      <%= label_tag :quote %>
      <%= text_field_tag :body, params[:body] %>

      <%= submit_tag "Run search", class: "btn btn-large btn-primary", id: "submit-search" %>
    <% end %>

</div>
<%= render partial: 'search_results' %>
